@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
}

/* Leaflet Map Styles */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}
